In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv("data1.csv")

In [5]:
df

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
df.dtypes

Sepal Length    float64
Sepal Width     float64
Petal Length    float64
Petal Width     float64
Species          object
dtype: object

In [7]:
df.info

<bound method DataFrame.info of      Sepal Length  Sepal Width  Petal Length  Petal Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>

In [8]:
df.describe()

       Sepal Length  Sepal Width  Petal Length  Petal Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
df['Sepal Length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: Sepal Length, Length: 150, dtype: float64

In [13]:
df.isnull()

     Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [14]:
df.shape

(150, 5)

In [15]:
df.size

750

In [16]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [17]:
df.head(10)

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [18]:
df.tail()

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [19]:
df.tail(n=6)

     Sepal Length  Sepal Width  Petal Length  Petal Width         Species
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [20]:
df.columns

Index(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'Species'],
      dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [22]:
df.columns.values

array(['Sepal Length', 'Sepal Width', 'Petal Length', 'Petal Width',
       'Species'], dtype=object)

In [23]:
df.sort_index(axis=1,ascending=True)

     Petal Length  Petal Width  Sepal Length  Sepal Width         Species
0             1.4          0.2           5.1          3.5     Iris-setosa
1             1.4          0.2           4.9          3.0     Iris-setosa
2             1.3          0.2           4.7          3.2     Iris-setosa
3             1.5          0.2           4.6          3.1     Iris-setosa
4             1.4          0.2           5.0          3.6     Iris-setosa
..            ...          ...           ...          ...             ...
145           5.2          2.3           6.7          3.0  Iris-virginica
146           5.0          1.9           6.3          2.5  Iris-virginica
147           5.2          2.0           6.5          3.0  Iris-virginica
148           5.4          2.3           6.2          3.4  Iris-virginica
149           5.1          1.8           5.9          3.0  Iris-virginica

[150 rows x 5 columns]

In [24]:
df.iloc[5]

Sepal Length            5.4
Sepal Width             3.9
Petal Length            1.7
Petal Width             0.4
Species         Iris-setosa
Name: 5, dtype: object

In [25]:
df[0:2]

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [26]:
df.iloc[0:3,-1]

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
Name: Species, dtype: object

In [27]:
df.iloc[:8,:2]

   Sepal Length  Sepal Width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

In [28]:
df.iloc[:,3]

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: Petal Width, Length: 150, dtype: float64

In [29]:
df.iloc[3:5,0:2]

   Sepal Length  Sepal Width
3           4.6          3.1
4           5.0          3.6

In [30]:
df.iloc[4,0]

np.float64(5.0)

In [33]:
df['Sepal Length'].iloc[5]

np.float64(5.4)

In [35]:
df['Sepal Width'].iloc[2]

np.float64(3.2)

In [36]:
cols_2_4=df.columns[2:4]

In [37]:
df[cols_2_4]

     Petal Length  Petal Width
0             1.4          0.2
1             1.4          0.2
2             1.3          0.2
3             1.5          0.2
4             1.4          0.2
..            ...          ...
145           5.2          2.3
146           5.0          1.9
147           5.2          2.0
148           5.4          2.3
149           5.1          1.8

[150 rows x 2 columns]

In [38]:
df.isnull()

     Sepal Length  Sepal Width  Petal Length  Petal Width  Species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [39]:
df.isnull().sum()

Sepal Length    0
Sepal Width     0
Petal Length    0
Petal Width     0
Species         0
dtype: int64

In [40]:
df[df.columns[2:4]].iloc[5:10]

   Petal Length  Petal Width
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2
8           1.4          0.2
9           1.5          0.1

In [42]:
df.head()

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [43]:
df.head(10)

   Sepal Length  Sepal Width  Petal Length  Petal Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [51]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in c:\users\aditi\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.2-cp311-cp311-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.8 kB ? eta -:--:--
     ---------------------------------------- 60.8/60.8 kB 3.2 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp311-cp311-win_amd64.whl (8.9 MB)
   ---------------------------------------- 0.0/8.9 MB ? eta -:--:--
    --------------------------------------- 0.2/8.9 MB 6.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.5/8.9 MB 5.6 MB/s eta 0:00:02
   -- ------------------------------------- 0.6/8.9 MB 5.0 MB/s eta 0:00:02
   --- ------------------------------------ 0.8/8.9 MB 4.8 MB/s eta 0:00:02
   ---- ----------------------------------- 1.1/8.9 MB 5.0 MB/s eta 0:00:02
   ------ --------------------------------- 1.4/8.9 MB 5.3 MB/s eta 0:00:02
   ------- -------------------------------- 1.6/8.9 MB 5.1 MB/s eta 0:00:02
   -------- ------------------------------- 1.8/8.9 MB 5.0 MB/s eta 0:00:02
   --------- ------------------------------ 2.1/8.9 MB 5.1 MB/s eta 0:00:02
   ----------- ---------------------------- 2.5/8.9 MB 5.4 MB/s eta 0:00:02
   ------------ --------------------------- 2.7/8.9 MB 5.5 MB/s eta 0:00:02
   ------------ --------------------------- 2.8/8.9 MB 5.3 MB/s eta 0:00:02
   ------------- -------------------------- 3.0/8.9 MB 5.2 MB/s eta 0:00:02
   -------------- ------------------------- 3.3/8.9 MB 5.3 MB/s eta 0:00:02
   ---------------- ----------------------- 3.7/8.9 MB 5.4 MB/s eta 0:00:01
   ------------------ --------------------- 4.0/8.9 MB 5.5 MB/s eta 0:00:01
   ------------------- -------------------- 4.4/8.9 MB 5.7 MB/s eta 0:00:01
   --------------------- ------------------ 4.7/8.9 MB 5.6 MB/s eta 0:00:01
   ---------------------- ----------------- 4.9/8.9 MB 5.6 MB/s eta 0:00:01
   ----------------------- ---------------- 5.3/8.9 MB 5.8 MB/s eta 0:00:01
   ------------------------- -------------- 5.6/8.9 MB 5.9 MB/s eta 0:00:01
   -------------------------- ------------- 5.9/8.9 MB 5.9 MB/s eta 0:00:01
   -------------------------- ------------- 6.0/8.9 MB 5.8 MB/s eta 0:00:01
   --------------------------- ------------ 6.2/8.9 MB 5.7 MB/s eta 0:00:01
   --------------------------- ------------ 6.2/8.9 MB 5.7 MB/s eta 0:00:01
   ------------------------------ --------- 6.8/8.9 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 7.0/8.9 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 7.4/8.9 MB 5.7 MB/s eta 0:00:01
   ---------------------------------- ----- 7.7/8.9 MB 5.8 MB/s eta 0:00:01
   ---------------------------------- ----- 7.8/8.9 MB 5.6 MB/s eta 0:00:01
   ------------------------------------ --- 8.1/8.9 MB 5.7 MB/s eta 0:00:01
   ------------------------------------- -- 8.4/8.9 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  8.7/8.9 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------- 8.9/8.9 MB 5.7 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
   ---------------------------------------- 0.0/308.4 kB ? eta -:--:--
   ----------------------------------- ---- 276.5/308.4 kB ? eta -:--:--
   --------------------------------------- 308.4/308.4 kB 18.6 MB/s eta 0:00:00
Downloading scipy-1.16.2-cp311-cp311-win_amd64.whl (38.7 MB)
   ---------------------------------------- 0.0/38.7 MB ? eta -:--:--
   ---------------------------------------- 0.2/38.7 MB 5.1 MB/s eta 0:00:08
    --------------------------------------- 0.5/38.7 MB 7.8 MB/s eta 0:00:05
    --------------------------------------- 0.8/38.7 MB 7.3 MB/s eta 0:00:06
   - -------------------------------------- 1.2/38.7 MB 7.6 MB/s eta 0:00:05
   - -------------------------------------- 1.6/38.7 MB 7.7 MB/s eta 0:00:05
   - -------------------------------------- 1.9/38.7 MB 7.5 MB/s eta 0:00:05
   -- ------------------------------------- 2.3/38.7 MB 7.2 MB/s eta 0:00:06
   -- ------------------------------------- 2.6/38.7 MB 7.3 MB/s eta 0:00:05
   -- ------------------------------------- 2.9/38.7 MB 7.3 MB/s eta 0:00:05
   --- ------------------------------------ 3.1/38.7 MB 7.1 MB/s eta 0:00:06
   --- ------------------------------------ 3.5/38.7 MB 7.2 MB/s eta 0:00:05
   --- ------------------------------------ 3.8/38.7 MB 7.1 MB/s eta 0:00:05
   ---- ----------------------------------- 4.1/38.7 MB 7.1 MB/s eta 0:00:05
   ---- ----------------------------------- 4.5/38.7 MB 7.2 MB/s eta 0:00:05
   ---- ----------------------------------- 4.8/38.7 MB 7.1 MB/s eta 0:00:05
   ----- ---------------------------------- 5.1/38.7 MB 7.0 MB/s eta 0:00:05
   ----- ---------------------------------- 5.4/38.7 MB 7.0 MB/s eta 0:00:05
   ----- ---------------------------------- 5.7/38.7 MB 7.0 MB/s eta 0:00:05
   ------ --------------------------------- 6.0/38.7 MB 7.0 MB/s eta 0:00:05
   ------ --------------------------------- 6.2/38.7 MB 7.0 MB/s eta 0:00:05
   ------ --------------------------------- 6.6/38.7 MB 6.9 MB/s eta 0:00:05
   ------- -------------------------------- 6.9/38.7 MB 7.0 MB/s eta 0:00:05
   ------- -------------------------------- 7.2/38.7 MB 6.9 MB/s eta 0:00:05
   ------- -------------------------------- 7.6/38.7 MB 6.9 MB/s eta 0:00:05
   -------- ------------------------------- 7.9/38.7 MB 7.0 MB/s eta 0:00:05
   -------- ------------------------------- 8.3/38.7 MB 6.9 MB/s eta 0:00:05
   -------- ------------------------------- 8.6/38.7 MB 7.0 MB/s eta 0:00:05
   --------- ------------------------------ 9.0/38.7 MB 7.0 MB/s eta 0:00:05
   --------- ------------------------------ 9.4/38.7 MB 7.1 MB/s eta 0:00:05
   ---------- ----------------------------- 9.7/38.7 MB 7.1 MB/s eta 0:00:05
   ---------- ----------------------------- 10.0/38.7 MB 7.0 MB/s eta 0:00:05
   ---------- ----------------------------- 10.2/38.7 MB 7.0 MB/s eta 0:00:05
   ---------- ----------------------------- 10.5/38.7 MB 7.0 MB/s eta 0:00:05
   ----------- ---------------------------- 10.8/38.7 MB 7.0 MB/s eta 0:00:04
   ----------- ---------------------------- 11.1/38.7 MB 7.0 MB/s eta 0:00:04
   ----------- ---------------------------- 11.4/38.7 MB 6.9 MB/s eta 0:00:04
   ------------ --------------------------- 11.8/38.7 MB 6.9 MB/s eta 0:00:04
   ------------ --------------------------- 12.0/38.7 MB 6.9 MB/s eta 0:00:04
   ------------ --------------------------- 12.3/38.7 MB 6.8 MB/s eta 0:00:04
   ------------ --------------------------- 12.4/38.7 MB 6.7 MB/s eta 0:00:04
   ------------ --------------------------- 12.4/38.7 MB 6.7 MB/s eta 0:00:04
   ------------- -------------------------- 12.8/38.7 MB 6.5 MB/s eta 0:00:04
   ------------- -------------------------- 13.1/38.7 MB 6.5 MB/s eta 0:00:04
   ------------- -------------------------- 13.4/38.7 MB 6.5 MB/s eta 0:00:04
   -------------- ------------------------- 13.6/38.7 MB 6.5 MB/s eta 0:00:04
   -------------- ------------------------- 13.9/38.7 MB 6.4 MB/s eta 0:00:04
   -------------- ------------------------- 14.2/38.7 MB 6.4 MB/s eta 0:00:04
   -------------- ------------------------- 14.5/38.7 MB 6.4 MB/s eta 0:00:04
   --------------- ------------------------ 14.7/38.7 MB 6.4 MB/s eta 0:00:04
   --------------- ------------------------ 14.9/38.7 MB 6.2 MB/s eta 0:00:04
   --------------- ------------------------ 15.1/38.7 MB 6.2 MB/s eta 0:00:04
   --------------- ------------------------ 15.4/38.7 MB 6.2 MB/s eta 0:00:04
   ---------------- ----------------------- 15.6/38.7 MB 6.2 MB/s eta 0:00:04
   ---------------- ----------------------- 15.8/38.7 MB 6.1 MB/s eta 0:00:04
   ---------------- ----------------------- 16.0/38.7 MB 6.0 MB/s eta 0:00:04
   ---------------- ----------------------- 16.2/38.7 MB 6.0 MB/s eta 0:00:04
   ----------------- ---------------------- 16.5/38.7 MB 6.0 MB/s eta 0:00:04
   ----------------- ---------------------- 16.7/38.7 MB 5.8 MB/s eta 0:00:04
   ----------------- ---------------------- 16.9/38.7 MB 5.8 MB/s eta 0:00:04
   ----------------- ---------------------- 17.1/38.7 MB 5.8 MB/s eta 0:00:04
   ----------------- ---------------------- 17.4/38.7 MB 5.8 MB/s eta 0:00:04
   ------------------ --------------------- 17.6/38.7 MB 5.8 MB/s eta 0:00:04
   ------------------ --------------------- 17.9/38.7 MB 5.7 MB/s eta 0:00:04
   ------------------ --------------------- 18.1/38.7 MB 5.6 MB/s eta 0:00:04
   ------------------ --------------------- 18.4/38.7 MB 5.6 MB/s eta 0:00:04
   ------------------- -------------------- 18.7/38.7 MB 5.6 MB/s eta 0:00:04
   ------------------- -------------------- 19.0/38.7 MB 5.6 MB/s eta 0:00:04
   ------------------- -------------------- 19.3/38.7 MB 5.5 MB/s eta 0:00:04
   -------------------- ------------------- 19.5/38.7 MB 5.5 MB/s eta 0:00:04
   -------------------- ------------------- 19.8/38.7 MB 5.5 MB/s eta 0:00:04
   -------------------- ------------------- 20.0/38.7 MB 5.5 MB/s eta 0:00:04
   --------------------- ------------------ 20.3/38.7 MB 5.5 MB/s eta 0:00:04
   --------------------- ------------------ 20.6/38.7 MB 5.5 MB/s eta 0:00:04
   --------------------- ------------------ 20.8/38.7 MB 5.5 MB/s eta 0:00:04
   --------------------- ------------------ 21.2/38.7 MB 5.5 MB/s eta 0:00:04
   ---------------------- ----------------- 21.5/38.7 MB 5.4 MB/s eta 0:00:04
   ---------------------- ----------------- 21.8/38.7 MB 5.4 MB/s eta 0:00:04
   ---------------------- ----------------- 22.1/38.7 MB 5.5 MB/s eta 0:00:04
   ----------------------- ---------------- 22.4/38.7 MB 5.5 MB/s eta 0:00:03
   ----------------------- ---------------- 22.7/38.7 MB 5.5 MB/s eta 0:00:03
   ----------------------- ---------------- 22.9/38.7 MB 5.5 MB/s eta 0:00:03
   ----------------------- ---------------- 23.2/38.7 MB 5.6 MB/s eta 0:00:03
   ------------------------ --------------- 23.5/38.7 MB 5.6 MB/s eta 0:00:03
   ------------------------ --------------- 23.8/38.7 MB 5.6 MB/s eta 0:00:03
   ------------------------ --------------- 24.0/38.7 MB 5.6 MB/s eta 0:00:03
   ------------------------- -------------- 24.3/38.7 MB 5.5 MB/s eta 0:00:03
   ------------------------- -------------- 24.6/38.7 MB 5.6 MB/s eta 0:00:03
   ------------------------- -------------- 24.9/38.7 MB 5.6 MB/s eta 0:00:03
   -------------------------- ------------- 25.2/38.7 MB 5.7 MB/s eta 0:00:03
   -------------------------- ------------- 25.5/38.7 MB 5.7 MB/s eta 0:00:03
   -------------------------- ------------- 25.8/38.7 MB 5.8 MB/s eta 0:00:03
   --------------------------- ------------ 26.1/38.7 MB 5.8 MB/s eta 0:00:03
   --------------------------- ------------ 26.4/38.7 MB 6.0 MB/s eta 0:00:03
   --------------------------- ------------ 26.7/38.7 MB 6.0 MB/s eta 0:00:02
   --------------------------- ------------ 27.0/38.7 MB 6.1 MB/s eta 0:00:02
   ---------------------------- ----------- 27.3/38.7 MB 6.1 MB/s eta 0:00:02
   ---------------------------- ----------- 27.6/38.7 MB 6.1 MB/s eta 0:00:02
   ---------------------------- ----------- 27.8/38.7 MB 6.1 MB/s eta 0:00:02
   ----------------------------- ---------- 28.1/38.7 MB 6.2 MB/s eta 0:00:02
   ----------------------------- ---------- 28.4/38.7 MB 6.2 MB/s eta 0:00:02
   ----------------------------- ---------- 28.7/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------ --------- 29.0/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------ --------- 29.3/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------ --------- 29.6/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------ --------- 29.9/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------- -------- 30.2/38.7 MB 6.3 MB/s eta 0:00:02
   ------------------------------- -------- 30.4/38.7 MB 6.2 MB/s eta 0:00:02
   ------------------------------- -------- 30.8/38.7 MB 6.2 MB/s eta 0:00:02
   -------------------------------- ------- 31.1/38.7 MB 6.3 MB/s eta 0:00:02
   -------------------------------- ------- 31.4/38.7 MB 6.3 MB/s eta 0:00:02
   -------------------------------- ------- 31.7/38.7 MB 6.3 MB/s eta 0:00:02
   --------------------------------- ------ 32.0/38.7 MB 6.3 MB/s eta 0:00:02
   --------------------------------- ------ 32.3/38.7 MB 6.4 MB/s eta 0:00:02
   --------------------------------- ------ 32.7/38.7 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 32.9/38.7 MB 6.3 MB/s eta 0:00:01
   ---------------------------------- ----- 33.2/38.7 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 33.6/38.7 MB 6.4 MB/s eta 0:00:01
   ---------------------------------- ----- 33.8/38.7 MB 6.3 MB/s eta 0:00:01
   ----------------------------------- ---- 34.1/38.7 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 34.4/38.7 MB 6.4 MB/s eta 0:00:01
   ----------------------------------- ---- 34.7/38.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------------ --- 35.0/38.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------------ --- 35.2/38.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------------ --- 35.5/38.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 35.8/38.7 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 36.1/38.7 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 36.4/38.7 MB 6.3 MB/s eta 0:00:01
   ------------------------------------- -- 36.7/38.7 MB 6.3 MB/s eta 0:00:01
   -------------------------------------- - 36.9/38.7 MB 6.3 MB/s eta 0:00:01
   -------------------------------------- - 37.1/38.7 MB 6.2 MB/s eta 0:00:01
   -------------------------------------- - 37.3/38.7 MB 6.2 MB/s eta 0:00:01
   -------------------------------------- - 37.6/38.7 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------  37.8/38.7 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  38.0/38.7 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  38.2/38.7 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  38.6/38.7 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  38.7/38.7 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------- 38.7/38.7 MB 6.0 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.2 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\aditi\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [52]:
from sklearn import preprocessing

min_max_scaler = preprocessing.MinMaxScaler()

In [53]:
x=df.iloc[0:150,0:4]

In [54]:
x_scaled = min_max_scaler.fit_transform(x)

In [55]:
df_normalized = pd.DataFrame(x_scaled)

In [56]:
df_normalized

            0         1         2         3
0    0.222222  0.625000  0.067797  0.041667
1    0.166667  0.416667  0.067797  0.041667
2    0.111111  0.500000  0.050847  0.041667
3    0.083333  0.458333  0.084746  0.041667
4    0.194444  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.555556  0.208333  0.677966  0.750000
147  0.611111  0.416667  0.711864  0.791667
148  0.527778  0.583333  0.745763  0.916667
149  0.444444  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [58]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [59]:
label_encoder = preprocessing.LabelEncoder()

In [61]:
df['species']= label_encoder.fit_transform(df['Species'])

In [62]:
df['species'].unique()

array([0, 1, 2])